<div class="dash thin" id="dash">
    <div class="classHeader">
        <div class="pageTitle">
            <h1>{{class.term}}: {{class.code}}</h1>
            <p>{{class.name}}</p>
            <p>{{numberUsers}} users currently enrolled in this class</p>
        </div>

    </div>
    <div class="meetingTable">
        <!-- So now we have curMeetings and otherMeetings -->
        <div id="errorArea"></div>
        <div class="pageTitle">
            <h1 class="text-center "> Meetings you should check out </h1>
        </div>

        {{#if nonUserMeetings.length}}
        <div>
            <table class="table table-dark" id="classTable">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Owner</th>
                        <th scope="col" class="text-center">Start Time</th>
                        <th scope="col" class="text-center">End Time</th>
                        <th scope="col" class="text-center">Purpose</th>
                        <th scope="col" class="text-center">Zoom Link</th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>

                <tbody>
                    {{#each nonUserMeetings}}
                    <tr>
                        <td> {{email}} </td>
                        <td> {{format_time starttime}}<br>{{format_date starttime}}</td>
                        <td> {{format_time endtime}}<br>{{format_date endtime}}</td>
                        <td> {{purpose}} </td>
                        <td> {{link}} </td>
                        <td>
                            <form name="addMeetingForm" id="{{id}}" class="addMeetingForm">
                                <button type="submit" class="btn btn-primary" name="submit" value="{{id}}">
                                    Join
                                </button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
        {{else}}
        <div class="alert alert-primary" role="alert">
            There are no meetings that you are not already attending
        </div>
        {{/if}}
    </div>

    <div class="meetingTable">
        <div class="pageTitle">
            <h1 class="text-center "> Your meetings for this class </h1>
        </div>
        {{#if userMeetings.length}}
        <div>
            <table class="table table-dark" id="classTable">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Owner</th>
                        <th scope="col" class="text-center">Start Time</th>
                        <th scope="col" class="text-center">End Time</th>
                        <th scope="col" class="text-center">Purpose</th>
                        <th scope="col" class="text-center">Zoom Link</th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>

                <tbody>
                    {{#each userMeetings}}
                    <tr>
                        <td> {{email}} </td>
                        <td> {{format_time starttime}}<br>{{format_date starttime}}</td>
                        <td> {{format_time endtime}}<br>{{format_date starttime}}</td>
                        <td> {{purpose}} </td>
                        <td>
                            <a href="{{Link}}">
                                Link
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
        {{else}}
        <div class="alert alert-primary" role="alert">
            You are not attending any meetings for this class
        </div>
        {{/if}}
    </div>



</div>