<div class="dash thin" id="dash">
    <div class="classHeader">
        <div class="pageTitle">
            <h1>{{class.term}}: {{class.code}}</h1>
            <p>{{class.name}}</p>
            <p>{{numberUsers}} users currently enrolled in this class</p>
        </div>

    </div>
    <div class="meetingTable">
        <!-- So now we have curMeetings and otherMeetings -->
        <div class="pageTitle">
            <h1 class="text-center "> Current Meetings </h1>
        </div>

        {{#if curMeetings.length}}
        <div>
            <table class="table table-dark" id="classTable">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Owner</th>
                        <th scope="col" class="text-center">Start Time</th>
                        <th scope="col" class="text-center">End Time</th>
                        <th scope="col" class="text-center">Zoom Link</th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>

                <tbody>
                    {{#each curMeetings}}
                    <tr>
                        <td> {{owner}} </td>
                        <td> {{starttime}}</td>
                        <td> {{endtime}} </td>
                        <td> {{link}} </td>
                        <td> <button type="button" class="btn btn-primary">RSVP</button>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
        {{else}}
        <div class="alert alert-primary" role="alert">
            No meetings for this class are currently occurring. You should create one :)
        </div>
        {{/if}}

        <div class="pageTitle">
            <h1 class="text-center "> Future Meetings </h1>
        </div>

        {{#if otherMeetings.length}}
        <div>
            <table class="table table-dark" id="classTable">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Owner</th>
                        <th scope="col" class="text-center">Start Time</th>
                        <th scope="col" class="text-center">End Time</th>
                        <th scope="col" class="text-center">Zoom Link</th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>

                <tbody>
                    {{#each otherMeetings}}
                    <tr>
                        <td> {{owner}} </td>
                        <td> {{starttime}}</td>
                        <td> {{endtime}} </td>
                        <td> {{link}} </td>
                        <td> <button type="button" href="{{zoom}}" class="btn btn-primary">JOIN</button>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
        {{else}}
        <div class="alert alert-primary" role="alert">
            No meetings for this class are scheduled to start in the future.
        </div>
        {{/if}}
    </div>


</div>